body {
    margin: 0;
    font-family: "IRANSans", sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298); /* آبی گرادیانت */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.main-header {
    background: #222;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

.nav a:hover {
    color: #ffcc00;
}

.hero {
    text-align: center;
    padding: 50px 15px;
}

.start-btn {
    background: #ff9900;
    padding: 12px 25px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.start-btn:hover {
    background: #cc7a00;
}

/* Footer */
.main-footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #222;
    color: #fff;
}

.main-header .logo {
    font-size: 1.4rem;
    font-weight: bold;
}

.main-header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

.main-header nav ul li a:hover {
    opacity: 0.7;
}

.auth-buttons a {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
}

.btn-login {
    background: #444;
    color: #fff;
}

.btn-login:hover {
    background: #555;
}

.btn-register {
    background: #ff4747;
    color: #fff;
}

.btn-register:hover {
    background: #e63939;
}

